<%- include("header") %>
<div class="head-box">
  <h1 id="greet">Hello Everyone, I'm Arshad, I built this to-do-list app from scratch with Node.Js & MongoDB.
    <br>
    You can create your own custom To-Do-List by adding "/(your list name here)" after the URL.
    <br>
    Let's say I wanna create my shopping To-Do-List, all I have to do is use /my-shopping after the main URL.
    <br>
    <a href="https://github.com/ArshadChowdhury/to-do-list"> See The Code On Github</a> </h1>
</div>


<div class="box">
  <% newListItems.forEach(function(item){ %>

  <form action="/delete" method="post">


    <div class="item">
      <input type="checkbox" name="checkbox" value="<%=item.id%>" onChange="this.form.submit()">
      <p><%=item.name%></p>
    </div>
    <input type="hidden" name="listName" value="<%=listTitle%>"> </input>
  </form>
  <% }); %>

  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="Add More" autocomplete="off">
    <button type="submit" name="list" value=<%=listTitle%>>+</button>

    </form>

    </div>








    <%- include("footer") %>
